---
---

@import "{{ site.theme }}";

.wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar {
  width: 25%;
  padding-right: 20px;
  border-right: 1px solid #e8e8e8;
}

.main-content {
  width: 75%;
  padding-left: 20px;
}

.post-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.post-list li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f1f1f1;
}
