<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="page-content">
      <div class="wrapper">
        <div class="sidebar">
          <h2>Posts</h2>
          <ul class="post-list">
            {%- for post in site.posts -%}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            </li>
            {%- endfor -%}
          </ul>
        </div>
        <div class="main-content">
          {{ content }}
        </div>
      </div>
    </div>
    {%- include footer.html -%}
  </body>
</html>
